# Math in Data Preprocessing-Seatwork#1

### By: Kyla S. Ronquillo

# SEATWORK: Problem 1

A group of researchers conducted a survey on the ages of people in the Town of Naga. They did this by simply talking to passersby on Naga Plaza Rizal. From their simple survey they gathered:
Age: [13, 15, 16, 16, 19, 20, 21, 22, 25, 25, 25, 25, 30, 33, 35,
35, 35, 35, 36, 45, 46, 52, 35, 38, 30]
(a) Use the binning method to smooth the above data. Assume that the bin
size is 5.

### Smoothing by Equal Frequency Bins

In [1]:
import numpy as np
import pandas as pd

In [86]:
age_group = np.array([13, 15, 16, 16, 19, 20, 21, 22, 25, 25, 25, 25, 30, 33, 35,
35, 35, 35, 36, 45, 46, 52, 35, 38, 30])
age_group.sort() 
num_bins = 5

In [87]:
bins = np.split(age_group, len(age_group) / num_bins)
for i, bin_data in enumerate(bins):
    bin_str = ', '.join(map(str, bin_data))
    print(f"Bin {i + 1}: {bin_str}")

Bin 1: 13, 15, 16, 16, 19
Bin 2: 20, 21, 22, 25, 25
Bin 3: 25, 25, 30, 30, 33
Bin 4: 35, 35, 35, 35, 35
Bin 5: 36, 38, 45, 46, 52

### Smoothing by bin means

In [88]:
# Calculate the mean for each bin and format the output
for i, bin_group in enumerate(bins, start=1): 
    bin_mean = int(bin_group.mean())  
    repeated_mean = [str(bin_mean)] * len(bin_group)  
    print(f"Bin {i}: {', '.join(repeated_mean)}")

Bin 1: 15, 15, 15, 15, 15
Bin 2: 22, 22, 22, 22, 22
Bin 3: 28, 28, 28, 28, 28
Bin 4: 35, 35, 35, 35, 35
Bin 5: 43, 43, 43, 43, 43

### Smoothing by bin boundary

In [90]:
# Smooth data using bin boundary
for i, bin_group in enumerate(bins, start=1): 
    bin_max = np.max(bin_group)
    bin_min = np.min(bin_group)
    
    smoothed_bin = []
    for value in bin_group:
        # Compare distance from min and max, and replace with the closest boundary
        if abs(value - bin_min) <= abs(value - bin_max):
            smoothed_bin.append(bin_min)
        else:
            smoothed_bin.append(bin_max)
    
    # Format and print the smoothed bin
    print(f"Bin {i}: {', '.join(map(str, smoothed_bin))}")

Bin 1: 13, 13, 13, 13, 19
Bin 2: 20, 20, 20, 25, 25
Bin 3: 25, 25, 33, 33, 33
Bin 4: 35, 35, 35, 35, 35
Bin 5: 36, 36, 52, 52, 52

<hr style="border: 1px solid black;">

# SEATWORK: Problem 2

Suppose a group of 12 sales price records has been sorted as follows:
Sales = [5, 10, 11, 13, 15, 35, 50, 55, 72, 92, 204, 215]
Partition them into three bins and smooth the data into the following:
- Smoothing by Equal Frequency Bins
- Smoothing by bin means
- Smoothing by bin boundary
Assume that Bin size is 4.

### Smoothing by Equal Frequency Bins

In [91]:
age_group = np.array([5, 10, 11, 13, 15, 35, 50, 55, 72, 92, 204, 215])
age_group.sort() 
num_bins = 4

In [92]:
bins = np.split(age_group, len(age_group) / num_bins)
for i, bin_data in enumerate(bins):
    # Convert each bin to a string with the format you want
    bin_str = ', '.join(map(str, bin_data))
    print(f"Bin {i + 1}: {bin_str}")

Bin 1: 5, 10, 11, 13
Bin 2: 15, 35, 50, 55
Bin 3: 72, 92, 204, 215

### Smoothing by bin means

In [93]:
# Calculate the mean for each bin and format the output
for i, bin_group in enumerate(bins, start=1): 
    bin_mean = int(bin_group.mean()) 
    repeated_mean = [str(bin_mean)] * len(bin_group)  
    print(f"Bin {i}: {', '.join(repeated_mean)}")

Bin 1: 9, 9, 9, 9
Bin 2: 38, 38, 38, 38
Bin 3: 145, 145, 145, 145

### Smoothing by bin boundary

In [94]:
# Smooth data using bin boundary
for i, bin_group in enumerate(bins, start=1): 
    bin_max = np.max(bin_group)
    bin_min = np.min(bin_group)
    
    smoothed_bin = []
    for value in bin_group:
        if abs(value - bin_min) <= abs(value - bin_max):
            smoothed_bin.append(bin_min)
        else:
            smoothed_bin.append(bin_max)
    
    print(f"Bin {i}: {', '.join(map(str, smoothed_bin))}")

Bin 1: 5, 13, 13, 13
Bin 2: 15, 15, 55, 55
Bin 3: 72, 72, 215, 215

<hr style="border: 1px solid black;">

# SEATWORK: Problem 3

Use the methods below to normalize the following group of data:
[50, 100, 150, 200, 250]
(a) min-max normalization 
(b) z-score normalization
(c) z-score normalization using the mean absolute deviation instead of
standard deviation

### (a) min-max normalization

In [11]:
data_1 = np.array([50, 100, 150, 200, 250])

In [40]:
def min_max_normalize(data):
    data_min = np.min(data)
    data_max = np.max(data)
    normalized_array = []
    
    for i in range(len(data)):
        top = data[i] - data_min
        down = data_max - data_min
        normalized_data = top / down
        normalized_array.append(round(normalized_data, 2))

    return normalized_array

In [37]:
normalized_array = min_max_normalize(data_1)
df = pd.DataFrame({'Data': data_1, 'Min-Max Normalization': normalized_array})
print(df.to_string(index=False))

 Data  Min-Max Normalization
   50                   0.00
  100                   0.25
  150                   0.50
  200                   0.75
  250                   1.00

### (b) z-score normalization

In [14]:
def z_score_normalize(data):
    mean_data = np.mean(data)
    std_data = np.std(data).round(2)
    normalized_array = []
    
    for i in range(len(data)):
        normalized_data = (data[i] - mean_data) / std_data
        normalized_data = normalized_data.round(2)
        normalized_array.append(normalized_data)
    
    return normalized_array

In [15]:
normalized_array = z_score_normalize(data_1)
df = pd.DataFrame({'Data': data_1, 'Z-score Normalization': normalized_array})
print(df.to_string(index=False))

 Data  Z-score Normalization
   50                  -1.41
  100                  -0.71
  150                   0.00
  200                   0.71
  250                   1.41

### (c) z-score normalization using the mean absolute deviation

In [16]:
def mad_normalize(data):
    mean_data = np.mean(data)
    absolute_deviation = np.abs(data - mean_data)
    mad_data = np.mean(absolute_deviation)
    normalized_array = []
    
    for i in range(len(data)):
        normalized_data = (data[i] - mean_data) / mad_data
        normalized_data = normalized_data.round(2)
        normalized_array.append(normalized_data)
    
    return normalized_array

In [17]:
normalized_array = mad_normalize(data_1)
df = pd.DataFrame({'Data': data_1, 'Z-score Normalization using MAD': normalized_array})
print(df.to_string(index=False))

 Data  Z-score Normalization using MAD
   50                            -1.67
  100                            -0.83
  150                             0.00
  200                             0.83
  250                             1.67

<hr style="border: 1px solid black;">

# SEATWORK: Problem 4

Use the methods below to normalize the following group of data:
[500, 600, 700, 900, 1000]
- (a) min-max normalization 
- (b) z-score normalization
- (c) z-score normalization using the mean absolute deviation instead of
standard deviation

### (a) min-max normalization

In [18]:
data_2 = np.array([500, 600, 700, 900, 1000])

In [38]:
normalized_array = min_max_normalize(data_2)
df = pd.DataFrame({'Data': data_2, 'Min-Max Normalization': normalized_array})
print(df.to_string(index=False))

 Data  Min-Max Normalization
  500                    0.0
  600                    0.2
  700                    0.4
  900                    0.8
 1000                    1.0

### (b) z-score normalization

In [21]:
normalized_array = z_score_normalize(data_2)
df = pd.DataFrame({'Data': data_2, 'Z-score Normalization': normalized_array})
print(df.to_string(index=False))

 Data  Z-score Normalization
  500                  -1.29
  600                  -0.75
  700                  -0.22
  900                   0.86
 1000                   1.40

### z-score normalization using the mean absolute deviation

In [22]:
normalized_array = mad_normalize(data_2)
df = pd.DataFrame({'Data': data_2, 'Z-score Normalization using MAD': normalized_array})
print(df.to_string(index=False))

 Data  Z-score Normalization using MAD
  500                            -1.43
  600                            -0.83
  700                            -0.24
  900                             0.95
 1000                             1.55

<hr style="border: 1px solid black;">

# SEATWORK: Problem 5

Using the data for age given in Problem 1, answer the following:
(a) Use min-max normalization to transform the value 35 for age onto
the range [0.0, 1.0]. 
(b) Use z-score normalization to transform the value 35 for age, where
the standard deviation of age is 12.94 years.

### min-max normalization

In [52]:
normalized_array = min_max_normalize(age_group)
df = pd.DataFrame({'Data': age_group, 'Min-Max Normalization': normalized_array})
result = df[df['Data'] == 35].head(1)
print(result.to_string(index=False))

 Data  Min-Max Normalization
   35                   0.56

### (b) z-score normalization

In [62]:
mean_data = np.mean(age_group)
age_data = 35
std_data = 12.94
normalized_data = (age_data - mean_data) / std_data
normalized_data = normalized_data.round(2)
result_df = pd.DataFrame({'Data': [35], 'Z-score Normalization': [normalized_data]})
print(result_df.to_string(index=False))

 Data  Z-score Normalization
   35                   0.46

<hr style="border: 1px solid black;">

# SEATWORK: Problem 7

Using Linear Regression by Least Square, obtain the following from the given sample data:
1. Use the method of Least Squares to find the equation for the predicting weight given the age.
2. Predict the weight of a person of age 36.

In [67]:
x_age = np.array([25, 30, 40, 35, 22, 28, 45, 33, 27, 38])
y_weight = np.array([55, 70, 75, 80, 60, 50, 85, 68, 72, 77])

In [68]:
def calculate_b(x_array, y_array):
    # Calculate means
    x_mean = np.mean(x_array)
    y_mean = np.mean(y_array)

    # Calculate x_ray and y_ray
    x_ray = x_array - x_mean
    y_ray = y_array - y_mean

    # Calculate mean_diff_x_y and squared_x_ray
    mean_diff_x_y = x_ray * y_ray
    squared_x_ray = x_ray ** 2

    # Create DataFrame with all the details
    df = pd.DataFrame({
        'x_age': x_array,
        'y_weight': y_array,
        'x_ray': x_ray,
        'y_ray': y_ray,
        'mean_diff_x_y': mean_diff_x_y,
        'squared_x_ray': squared_x_ray
    })

    # Print the DataFrame in table format
    print(df.to_string(index=False))
    
    # Get the sum of mean_diff_x_y and the sum of squared_x_ray
    sum_mean_diff_x_y = mean_diff_x_y.sum()
    sum_of_squared_x_ray = squared_x_ray.sum()
    #print('Sum of mean_diff_x_y:', sum_mean_diff_x_y)
    #print('Sum of squared_x_ray:', sum_of_squared_x_ray)

    # Get the value of b
    b = sum_mean_diff_x_y / sum_of_squared_x_ray
    print('Value of b:', b.round(2))
    
    return b, x_mean, y_mean

In [69]:
b, x_mean, y_mean = calculate_b(x_age, y_weight)

 x_age  y_weight  x_ray  y_ray  mean_diff_x_y  squared_x_ray
    25        55   -7.3  -14.2         103.66          53.29
    30        70   -2.3    0.8          -1.84           5.29
    40        75    7.7    5.8          44.66          59.29
    35        80    2.7   10.8          29.16           7.29
    22        60  -10.3   -9.2          94.76         106.09
    28        50   -4.3  -19.2          82.56          18.49
    45        85   12.7   15.8         200.66         161.29
    33        68    0.7   -1.2          -0.84           0.49
    27        72   -5.3    2.8         -14.84          28.09
    38        77    5.7    7.8          44.46          32.49
Value of b: 1.23

In [70]:
def calculate_a(b, x_mean, y_mean) : 
    a = y_mean - (b * x_mean)
    print('Value of a:', a.round(2))
    return a

In [73]:
a = calculate_a(b, x_mean, y_mean)

Value of a: 29.35

In [74]:
predict_weight = a + (b * 36)
print(predict_weight.round(2), 'kg')

73.76 kg

<hr style="border: 1px solid black;">

# SEATWORK: Problem 6

Using Linear Regression by Least Square, obtain the following from the given sample data:
1. Use the method of Least Squares to find the equation for the predicting final grade given the midterm score.
2. Predict the final grade of a student who had a midterm score of 95.

In [82]:
x_midtermscore = np.array([70, 80, 85, 90, 60, 75, 85, 50])
y_finalgrade = np.array([82, 88, 92, 96, 68, 78, 90, 58])

In [83]:
b, x_mean, y_mean = calculate_b(x_midtermscore, y_finalgrade)
a = calculate_a(b, x_mean, y_mean)

 x_age  y_weight   x_ray  y_ray  mean_diff_x_y  squared_x_ray
    70        82  -4.375    0.5        -2.1875      19.140625
    80        88   5.625    6.5        36.5625      31.640625
    85        92  10.625   10.5       111.5625     112.890625
    90        96  15.625   14.5       226.5625     244.140625
    60        68 -14.375  -13.5       194.0625     206.640625
    75        78   0.625   -3.5        -2.1875       0.390625
    85        90  10.625    8.5        90.3125     112.890625
    50        58 -24.375  -23.5       572.8125     594.140625
Value of b: 0.93
Value of a: 12.43

In [84]:
predict_finalgrade = a + (b * 95)
print(predict_finalgrade.round(2))

100.65